@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Source+Code+Pro:ital@1&family=Ubuntu&display=swap");

/* CSS Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
}
/* Modal CSS */

.modal-content {
  border-radius: 20px;
  background-color: white;
}
.modalTitle {
  margin-top: 5%;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}
#orderCategoryModalLabel {
  border: 2px dotted black;
  text-align: center;
  padding: 10px;
  margin-top: 5%;
  border-radius: 10px;
  background-color: white(207, 203, 203);
  color: black;
}

/* main Container CSS */
        /* Main Navbar CSS  */
        #topNav nav a{
          font-size: 2rem;
        }

.main-container {
  width: 96vw;
  margin: 5vh auto;
}

/* NavBar Row Styling  */
.nav-bar-row nav {
  width: 90%;
}

/* Menu pages Styling  */
#menu-bar .carousel-item .card {
  border-radius: 10px;
}

#menu-bar .card {
  width: 100%;
  height: 140px;
}

#menu-bar .fa-solid {
  font-size: 2.5rem;
  color: rgb(68, 64, 64);
}

button.carousel-control-prev,button.carousel-control-next {
  background: black;
  width: 40px;
  height: 40px;
  margin: auto;
  margin-left: -10%;
  margin-right: -10%;
  border-radius: 25px;
  opacity: 0.3;
}

/* Order List Section Styling */

.orderListProduct {
    /* border: 2px solid black; */
    padding: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 0px;
}

#orderList{
    /* display: none; */
    padding-top: 10vh;
    background-color: rgb(246 242 242);
    border-radius: 5%;
    min-height: 50vh;
    max-height: 60vh;
    overflow: scroll;
    /* position: absolute; */
}
#orderListItems{
    /* display: none; */
    
}
#orderList .card{
    border-radius: 5%;
}
.orderListProduct img{
    width: 45%;
}
.orderListProduct h3{
    width: 45%;
    margin: auto;
}
#orderButtons .fa-solid{
    cursor: pointer;
}
#addToCartSmallScreenbtn{
    display: none;
    position: fixed;
    top: 3%;
    right: 5%;
}
#addToCartSmallScreenbtn .fa-solid{
    color: gray;
    /* border: 2px solid red; */
    font-size: 3rem;
}
/* #orderList .card .no-gutters{
    width: 100%;
    height: 10%;
} */
/* #orderList .card{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#orderList .card-img{
    margin: -15%;
    padding: 0px;
}

#orderList .card img{
    width: 50%;
    padding: 0px;
    margin: 0px;
} */

/* Order Item Section CSS  */
.order-items-section .card {
  border-radius: 25px;
}
.order-items-section .card .card-body .card-img img {
  /* border: 2px solid black; */
  width: 80%;
  height: 95%;
}
.order-items-section .card h5 {
  font-size: 2rem;
}
#amount {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: 1.5rem;
  color: red;
}

#buttonUp {
  display: none;
  position: fixed;
  bottom: 3%;
  right: -15%;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  margin: auto;
  margin-right: 20%;
  border-radius: 25px;
  text-align: center;
}
#buttonUp .fa-solid {
  font-size: 3rem;
  /* border: 2px solid black; */
  border-radius: 50%;
}
#buttonUp a {
  color: black;
}

@media only screen and (max-width: 992px) {
    #orderList{
        /* display: none; */
        /* position: fixed; */
        /* top: 5vh; */
        /* right: 12%; */
        z-index: 10;
        width: 80%;
        height: 70vh;
        opacity: 1;
        overflow: scroll;
    }
    #toggleCustomerOrderList{
        overflow:scroll;
        scroll-behavior: smooth;
    }
    #addToCartSmallScreenbtn{
        display: block;
    }
    #buttonUp {
        display: block;
      }
   
}


@media only screen and (max-width: 600px) {
    .navbar span,strong{
        font-size: 0.4rem;
    }

  #menu-bar .card {
    width: 100%;
    height: 140px;
  }
   
button.carousel-control-prev,button.carousel-control-next {
    background: black;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-left: -5%;
    margin-right: -5%;;
  }
  #addToCartSmallScreenbtn .fa-solid{
      top: -10%;
      font-size: 2rem;
  }

}
@media only screen and (max-width: 400px) {
    #addToCartSmallScreenbtn .fa-solid{
        font-size: 1.5rem;
    }
    .nav-bar-row span,strong
    {
        font-size: 0.4rem;
    }
  .container {
    /* background-color: black; */
  }
  #menu-bar .card {
    width: 100%;
    height: 10%;
  }
 
  
  .order-items-section .card .card-body img {
    width: 20%;
    height: 50%;
  }
  #menu-bar .fa-solid {
    font-size: 1.5rem;
    color: rgb(68, 64, 64);
  }
  #menu-bar h5 {
    font-size:  0.5rem;
  }
  .order-items-section h1{
      font-size: 1rem;
  }
  .order-items-section h4{
      font-size: 0.8rem;
  }
}
